.FoodAccount{
    width: 100%;
    height: 100vh;
   position: relative;
   overflow: hidden;
}
.spinner{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 99999;
}
.dehaze_icon{
    display: none;
}
.hide_modal{
    display: none;

}
.balck_modal{
    width: 100%;
    height: 100vh;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99999999999999;
    background-color: rgba(10, 10, 10,0.85);
}
.withdraw_deposit_modal{
    position: absolute;
    box-shadow: 0px 4px 10px -2px rgba(0,0,0,0.51);
-webkit-box-shadow: 0px 4px 10px -2px rgba(0,0,0,0.51);
-moz-box-shadow: 0px 4px 10px -2px rgba(0,0,0,0.51);
    top: 0;
    left: 0;
    z-index: 99999999999999999999999;
    background-color: rgb(155, 146, 146);
    width: 100%;
    height: 13rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}
.withdraw_deposit_modal > p{
    margin-left: 0.5rem;
    padding: 0.5rem 1rem;
}
.withdraw_deposit_modal > input{
    border: 1px solid rgba(211, 211, 211,0.24);
    width: 82.5%;
    padding: 0.2rem 1rem;
    border-radius: 1px;
    margin-left: 1.2rem;
    font-size: 0.8rem;
    font-weight: 400;
}
.withdraw_deposit_modal > button{
    margin-bottom: 0.5rem;
    width: 90.5%;
    height: 1.6rem;
    margin-left: 1.3rem;
    background-color: teal;
    color: antiquewhite;
    border-radius: 2px;
    cursor: pointer;
}
.withdraw_deposit_modal > button:hover{
    background-color: rgba(220, 20, 60,0.8);

}
.FoodAccount_container{
    width: 100%;
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1483401757487-2ced3fa77952?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mjh8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}

.FoodAccount_container_header{
    width: 100%;
    height: 10rem;
    background: #2b5876;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4e4376, #2b5876);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.savings_car_input{
    width: 48%;
    height: 5.4rem;
    border: 0;
    background: transparent;
    border-bottom: 2px solid white;
    font-size: 1.5rem;
    text-align: center;
    padding: 0.1rem 0rem;
    color: whitesmoke;
    opacity: 0.88;
}
.foodandhealth_balance{
    display: flex;
    align-items: center;
    padding: 0px 2rem;
    margin-right: 10rem;
    gap: 1.2rem;
}
.FoodAccount_container_header > a > h1{
    font-size: 3.4rem;
    font-weight: 600;
    margin-left: 4rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 1.2px;
}
.foodandhealth_balance > p{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 500;
    color: wheat;
}
.foodandhealth_balance >span{
    font-size: 2.8rem;
    color: white;
}
.foodandhealth_balances{
    margin-right: 3rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.foodandhealth_balances >span{
    font-size: 2.8rem;
    color: white;
}
.foodandhealth_balances > p{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 500;
    color: wheat;
}
.FoodAccount_container_animate{
    width: 100%;
    height: 2.5rem;
    overflow: hidden;
    background-color: rgba(48, 48, 172,0.25);
    display: grid;
    place-items: center;
    align-items: center;
}
.photos{
    top: 30%;
    position: absolute;
    width: 100%;
    left: 10%;
}
.immage{
    width: 100%;
    margin-left: 1.2rem;
}
.immage>img{
    width: 20%;
    border-radius: 2px;
    height: 10%;
    object-fit: cover;
    box-shadow: -3px 3px 16px -3px rgba(230,221,221,0.6);
-webkit-box-shadow: -3px 3px 16px -3px rgba(230,221,221,0.6);
-moz-box-shadow: -3px 3px 16px -3px rgba(230,221,221,0.6);

}
.center_message_foodaccount{
    width: 70%;
    height: 50%;
    left: 8%;
    top: 60%;
    position: absolute;
    color: gold;
    opacity: 0.6;
}
.center_message_foodaccount > p{
    width: 50%;
    font-size: 2.2rem;
    line-height: 80px;
    opacity: 0.89;
    margin-top: 3.3rem;
}
.foodbalance{
    font-size: 3.0rem;
    margin: 0px 1.2rem;
}
.FoodAccount_container_body{
    position: relative;
    animation-name: progress;
    animation-delay: 0.5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-duration: 5s;
}
.FoodAccount_container_body:hover{
    animation-play-state: paused;
}


.FoodAccount_container_body > p:nth-child(1){
    font-size: 1.7rem;
    color: gray;
    margin-top: 1.7rem;
    animation-name: progress;
    /* animation-delay: 0.1s; */
    /* animation-duration: 1.5s; */

}
.FoodAccount_container_body > p:nth-child(2){
    font-size: 1.7rem;
    color: white;
    margin-top: 1.7rem;
    opacity: 0.99;
    animation-name: progress;
    /* animation-delay: 0.2s; */
    /* animation-duration: 1.6s; */
}
@keyframes progress {
    0%{
        bottom: 0px;
        color: crimson;

    }
   
    40%{
        bottom: 40px;
        color: crimson;
    }
    60%{
        bottom: 60px;

    }
    80%{
        bottom: 80px;

    }
    90%{
        bottom: 95px;
        color: crimson;

    }
    100%{
        bottom: 110px;

    }
}
.FoodAccount_container_circularbar{
    width: 100%;
    display: grid;
    place-items: center;
    align-items: center;
    position: relative;

}
.FoodAccount_CircularBar_chart{
    width: 100%;
    position: relative;
    /* display: grid;
    place-items: center;
    align-items: center; */
}
.FoodAccount_container_circularbar > p{
    font-size: 1.7rem;
    color: white;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    position: absolute;
    right: 19%;
    opacity: 0.89;
    margin-top: 4.2rem;
}
hr{
    width: 17%;
    right: 18%;
    margin-top: 7.2rem;
    height: 3px;
    position: absolute;
    color: blue;
    background-color: blue;
}
.circular_chart_model{
    /* width: 10rem;
    height: 10rem; */
    position: absolute;
    margin-top: 8.5rem;
    right: 15%;
}
.icon_paragraph_chart{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-top: 3rem;

}
.icon_paragraph_chart > p{
    font-size: 2rem;
    color: crimson;
}
.circulchartbar{
    width: 350px;
    height: 350px;
    margin-top: 5rem;
}

/* withdraw and deposit buttons */
.deposit_button{
    width: 8%;
    height: 2.3rem;
    margin-left: -20em;
    background-color: rgba(0, 128, 128,0.4);
    color: white;
    cursor: pointer;
    font-size: 1.3rem;

}

.withdraw_button{
    width: 8%;
    height: 2.3rem;
    cursor: pointer;
    margin-left: -20em;
    font-size: 1.3rem;
    background-color: rgba(220, 20, 60,0.4);
    color: white;
}
.blocked_withdraw_button{
    width: 8%;
    height: 2.3rem;
    cursor: not-allowed;
    margin-left: -20em;
    font-size: 1.3rem;
    background-color: rgba(220, 20, 60,0.24);
    color: white;
}
a{
    text-decoration: none !important;
    color: white;
    opacity: 0.5;
}
@media screen and (max-width: 420px) {
    .FoodAccount_container_header{
        height: 4rem;
    }
    .hide_modal{
        display: block;
    }
    .deposit_button{
        display: none;
    }
    .dehaze_icon{
        display: block;
        position: absolute;
        top: 2%;
        left: 3%;
        color: whitesmoke;
        cursor: pointer;
        z-index: 999999999999999999;
    }
    .dehaze_icon:hover{
        color: orange;
    }
    .FoodAccount_container_header > a > h1{
       font-size: 0.8rem;
       color: wheat;
       letter-spacing: 0.8px;
       margin-left: 7rem;
       margin-top: -1.8rem;
    }
    
    .foodandhealth_balance >span{
        font-size: 1.3rem;
    }
    .foodandhealth_balance{
        display: none;
    }
    .blocked_withdraw_button{
        display: none;
    }
    .foodandhealth_balances{
        display: flex;
        align-items: center;
        gap: 0.4rem;
        margin: 0px 1rem;
    }
    .foodandhealth_balances > p{
        font-size: 0.5rem;
    }
    .foodandhealth_balances >span{
        font-size: 0.9rem;
        color: green;
        opacity: 0.97;
        margin-top: 0.1rem;
    }
   .FoodAccount_container_animate{
        height: 1.5rem;
   }
  .FoodAccount_container_body > p{
    font-size: 0.8rem !important;
  }
  .photos{
    top: 14%;
    left: 18%;
  }
  .immage{
    margin-left: 8%;
  }
  .immage>img{
    width: 50%;
    height: 35%;
  }
  .center_message_foodaccount{
    top: 24%;
    width: 100%;
    left: 26%;
  }
  .center_message_foodaccount > p{
    font-size: 1rem;
    line-height: 20px;
  }
  .foodbalance{
    font-size: 0.9rem ;
    margin: 0px 0.8rem;
  }
  .FoodAccount_container_circularbar > p{
    font-size: 0.9rem;
    right: 24%;
    margin-top: 40em;
  }
  hr{
    display: none;
  }
  .circular_chart_model{
    margin-top: 16.5rem;
  }
  .circulchartbar{
    width: 35% !important;
    height: 35% !important;
    margin-left: 39%;
  }
  .arrow_up_icon{
    font-size: 20px !important;
  }
  .icon_paragraph_chart{
    width: 100%;
    margin-top: 4rem;
    margin-left: 2.5rem;
  }
  .icon_paragraph_chart > p{
    font-size: 0.8rem;
  }
}
@media screen and (max-height: 720px) and (max-width: 420px) {
  .FoodAccount_container_header{
      height: 4rem;
  }
  .hide_modal{
      display: block;
  }
  .deposit_button{
      display: none;
  }
  .dehaze_icon{
      display: block;
      position: absolute;
      top: 2.7%;
      left: 3.7%;
      color: whitesmoke;
      cursor: pointer;
      z-index: 999999999999999999;
  }
  .dehaze_icon:hover{
      color: orange;
  }
  .FoodAccount_container_header > a > h1{
     font-size: 0.8rem;
     color: wheat;
     letter-spacing: 0.8px;
     margin-left: 7rem;
     margin-top: -1.8rem;
  }
  
  .foodandhealth_balance >span{
      font-size: 1.3rem;
  }
  .foodandhealth_balance{
      display: none;
  }
  .blocked_withdraw_button{
      display: none;
  }
  .foodandhealth_balances{
      display: flex;
      align-items: center;
      gap: 0.4rem;
      margin: 0px 1rem;
  }
  .foodandhealth_balances > p{
      font-size: 0.6rem;
  }
  .foodandhealth_balances >span{
      font-size: 0.9rem;
      color: green;
      opacity: 0.97;
      margin-top: 0.1rem;
  }
 .FoodAccount_container_animate{
      height: 1.5rem;
 }
.FoodAccount_container_body > p{
  font-size: 0.8rem !important;
}
.photos{
  top: 16%;
  left: 18%;
}
.immage{
  margin-left: 8%;
}
.immage>img{
  width: 50%;
  height: 35%;
}
.center_message_foodaccount{
  top: 28%;
  width: 100%;
  left: 26%;
}
.center_message_foodaccount > p{
  font-size: 1rem;
  line-height: 20px;
}
.foodbalance{
  font-size: 0.9rem ;
  margin: 0px 0.8rem;
}
.FoodAccount_container_circularbar > p{
  font-size: 0.9rem;
  right: 22%;
  margin-top: 35em;
}
hr{
  display: none;
}
.circular_chart_model{
  margin-top: 12.5rem;
}
.circulchartbar{
  width: 35% !important;
  height: 35% !important;
  margin-left: 39%;
}
.arrow_up_icon{
  font-size: 20px !important;
}
.icon_paragraph_chart{
  width: 100%;
  margin-top: 2rem;
  margin-left: 3.3rem;
}
.icon_paragraph_chart > p{
  font-size: 0.9rem;
}
}
@media screen and (min-width: 450px) and (max-width: 768px) {
    .FoodAccount_container_header{
        height: 6rem;
    }
    .hide_modal{
        display: block;
    }
    .deposit_button{
        display: none;
    }
    .dehazee{
        font-size: 2.7rem !important;
    }
    .dehaze_icon{
        display: block;
        position: absolute;
        top: 2.7%;
        left: 5%;
        color: whitesmoke;
        cursor: pointer;
        z-index: 999999999999999999;
    }
    .dehaze_icon:hover{
        color: orange;
    }
    .FoodAccount_container_header > a > h1{
       font-size: 1.3rem;
       color: wheat;
       letter-spacing: 0.8px;
       margin-left: 9.5rem;
       margin-top: -1.8rem;
    }
    
    .foodandhealth_balance >span{
        font-size: 1.5rem;
    }
    .foodandhealth_balance{
        display: none;
    }
    .blocked_withdraw_button{
        display: none;
    }
    .foodandhealth_balances{
        display: flex;
        align-items: center;
        gap: 0.6rem;
        margin: 0.4px 3rem;
    }
    .foodandhealth_balances > p{
        font-size: 1.2rem;
    }
    .foodandhealth_balances >span{
        font-size: 1.5rem;
        color: green;
        opacity: 0.97;
        margin-top: 0.1rem;
    }
   .FoodAccount_container_animate{
        height: 1.9rem;
   }
  .FoodAccount_container_body > p{
    font-size: 1.1rem !important;
  }
  .photos{
    top: 14%;
    left: 18%;
  }
  .immage{
    margin-left: 8%;
  }
  .immage>img{
    width: 50%;
    height: 35%;
  }
  .center_message_foodaccount{
    top: 40%;
    width: 100%;
    left: 26%;
  }
  .center_message_foodaccount > p{
    font-size: 1.2rem;
    line-height: 23px;
  }
  .foodbalance{
    font-size: 1.2rem ;
    margin: 0px 0.8rem;
  }
  .FoodAccount_container_circularbar > p{
    font-size: 1.3rem;
    right: 31%;
    margin-top: 43em;
  }
  hr{
    display: none;
  }
  .circular_chart_model{
    margin-top: 26.5rem;
  }
  .circulchartbar{
    width:48% !important;
    height:48% !important;
    margin-left: -16%;
  }
  .arrow_up_icon{
    font-size: 25px !important;
  }
  .icon_paragraph_chart{
    width: 100%;
    margin-top: 4rem;
    margin-left: -7.5rem;
  }
  .icon_paragraph_chart > p{
    font-size: 1rem;
  }
  .withdraw_deposit_modal > p{
    font-size: 1rem;
    text-transform: uppercase;
  }
  .withdraw_deposit_modal > input{
    width: 75.5%;
    height: 2.1rem;
    font-size: 1rem;
  }
  .withdraw_deposit_modal > button{
    width: 80%;
    height: 2.1rem;
    font-size: 1rem;
  }
}
@media screen and (min-width: 770px) and (max-width: 1024px) {
    .FoodAccount_container_header{
        height: 6rem;
    }
    .hide_modal{
        display: block;
    }
    .deposit_button{
        display: none;
    }
    .dehazee{
        font-size: 2.5rem !important;
    }
    .dehaze_icon{
        display: block;
        position: absolute;
        top: 2.7%;
        left: 5%;
        color: whitesmoke;
        cursor: pointer;
        z-index: 999999999999999999;
    }
    .dehaze_icon:hover{
        color: orange;
    }
    .FoodAccount_container_header > a > h1{
       font-size: 1.5rem;
       color: wheat;
       letter-spacing: 0.8px;
       margin-left: 9.5rem;
       margin-top: -2.4rem;
    }
    
    .foodandhealth_balance >span{
        font-size: 1.4rem;
    }
    .foodandhealth_balance{
        display: none;
    }
    .blocked_withdraw_button{
        display: none;
    }
    .foodandhealth_balances{
        display: flex;
        align-items: center;
        gap: 0.6rem;
        margin: 0.4px 5rem;
    }
    .foodandhealth_balances > p{
        font-size: 1.2rem;
    }
    .foodandhealth_balances >span{
        font-size: 1.5rem;
        color: green;
        opacity: 0.97;
        margin-top: 0.1rem;
    }
   .FoodAccount_container_animate{
        height: 2.1rem;
   }
  .FoodAccount_container_body > p{
    font-size: 1.1rem !important;
  }
  .photos{
    top: 20%;
    left: 18%;
  }
  .immage{
    margin-left: -12%;
  }
  .immage>img{
    width: 30%;
    height: 20%;
  }
  .center_message_foodaccount{
    top: 43%;
    width: 100%;
    left: 5%;
  }
  .center_message_foodaccount > p{
    font-size: 1.2rem;
    line-height: 29px;
  }
  .foodbalance{
    font-size: 1.2rem ;
    margin: 0px 0.8rem;
  }
  .FoodAccount_container_circularbar > p{
    font-size: 1.3rem;
    right: 6%;
    margin-top: 3em;
  }
  hr{
    display: none;
  }
  .circular_chart_model{
    margin-top: 0.5rem;
  }
  .circulchartbar{
    width:44% !important;
    height:44% !important;
    margin-left: 65%;
  }
  .arrow_up_icon{
    font-size: 35px !important;
  }
  .icon_paragraph_chart{
    width: 100%;
    margin-top: 7rem;
    margin-left: 4.5rem;
  }
  .icon_paragraph_chart > p{
    font-size: 1.3rem;
    margin-left: 3rem;
  }
  .withdraw_deposit_modal > p{
    font-size: 1rem;
    text-transform: uppercase;
  }
  .withdraw_deposit_modal > input{
    width: 75.5%;
    height: 2rem;
    font-size: 1.2rem;
  }
  .withdraw_deposit_modal > button{
    width: 79%;
    height: 2.2rem;
    font-size: 1.2rem;
  }
}