@media screen  and (max-width: 768px) {
    .login_container2>h1{
     display: none;
    }
    .login_container2>input{
        margin: 0;
        height: 0.2rem;
    }
    .otp_button{
        width: 100%;
        margin-left: 1.3rem;
        color: gray;
    }
    .login_button{
        font-size: 15px;
    }
    .login_container2>label{
        font-size: 15px;
        margin-top: 1rem;
        color: teal;
        letter-spacing: 0;
    }
    .login_button{
        letter-spacing: 0;
        color: gray;
        font-size: 15px;
    }
    
    }
    @media screen  and (max-width: 992px) and (min-width: 768px) {
        .login_container{
            left: 14%;
        }
        .login_container2>label{
            font-size: 20px;
            margin-top: 1rem;
            letter-spacing: 0;
        }
        .login_button{
            letter-spacing: 0;
            color: white;
            font-size: 19px;
        }
        .login_container2>input{
            margin: 0;
            height: 0.6rem;
        }
    }
    