.footer{
    width: 100%;
}
.footer_container{
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer_links{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
    gap: 0.5rem;
}

.footer_links > p{
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1.3px;
}
.footer_links :hover{
    color: orangered;
    transition: all 0.2s ease-in-out;
}
.main-nav{
    background-color: rgba(209, 87, 87,0.3);
    padding: 0.3rem;
    color: blue;
    /* transition: all 0.2s ease-in-out; */
}


@media screen and (max-width: 768px) {
    .icons{
        font-size: 25px !important;
    }
    .footer_links > p{
        font-size: 15px;
    }
    .footer_links{
        padding: 0px 0.3rem;
    }
}