.MoreItems{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0,0.87);
    position: relative;
}
.cncel_x{
    font-size: 45px !important;
}
.cancels{
    position: absolute;
    left: 3%;
    top: 4%;
    cursor: pointer;
}
.MoreItems_container{
    width: 100%;
    position: relative;

}
a{
    text-decoration: none;
}
.more_items_objects{
    width: 30%;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    background-color: #8d79b9;
    background-image: linear-gradient(132deg, #6a76aa 0%, #48c4ab 100%);
    position: absolute;
}
.more_items_icons_area{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin: 5rem 0rem;
}
.icons_resp_names {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10rem;
    padding: 0.5rem 1.2rem;
    cursor: pointer;

}
.icons_resp_names > p{
    font-size: 1.3rem;
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.savings_type_select{
   width: 85%;
   margin-left: 4.5rem;
   margin-top: -5rem;

}
.savings_type_select > select{
    width: 100%;
    height: 1.8rem;
    border-radius: 0.2rem;
    border: 0;
    color: crimson;
    outline: 0;
    opacity: 0.7;
    font-size: 1.1rem;
    padding: 0rem 1.2rem;
}
.select_type_option{
   color: gray;
    font-size: 1.2rem;
   
}

.icons_resp_names_logout{
    display: flex;
    align-items: center;
    gap: 4rem;
    margin-top: 10em;
    gap: 10rem;
    padding: 0.5rem 1.2rem;
    cursor: pointer;
}
.icons_resp_names_logout > p{
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
    opacity: 0.5;
    letter-spacing: 1.2px;
}
.icons_resp_names:hover{
    background-color: rgba(221, 26, 107, 0.15);
  
}
.icons_resp_names_logout:hover{
    background-color: rgba(221, 26, 107, 0.15);
    
}
@media screen and (max-width: 420px) {
    .cncel_x{
        font-size: 25px !important;
        left: 5% !important;
    }
    .more_items_objects{
        width: 80%;
    }
    .more_items_icons_area{
        gap: 2.5rem;
        margin: 3rem 0rem;
    }
    .icons_resp_names{
        gap: 1.2rem;
        padding: 0.5rem 0.9rem;
    }
    .icons_resp_names > p{
        font-size: 0.9rem;
    }
    .save_icon{
        font-size: 1.5rem !important;
        margin-left: 2rem !important;
    }
    .save_iconz1{
        font-size: 1.5rem !important;
        margin-left: 2.3rem !important;
    }
    .save_iconz2{
        font-size: 1.5rem !important;
        margin-left: 2rem !important;
    }
    .save_iconz3{
        font-size: 1.5rem !important;
        margin-left: 2.8rem !important;
    }
    .save_iconz4{
        font-size: 1.5rem !important;
        margin-left: 4rem !important;
    }
    .save_iconz5{
        font-size: 1.5rem !important;
        margin-left: 3.4rem !important;
    }
    .icons_resp_names_logout{
        gap: 1.2rem;
    }
    .icons_resp_names_logout > p{
        font-size: 0.95rem;

    }
    .savings_type_select{
        margin-top: -2.9rem;
        margin-left: 2.7rem;
        width: 72%;
    }
    .savings_type_select > select{
        height: 1.5rem;
        font-size: 0.8rem;
    }
 
}
@media screen and (min-width: 450px) and (max-width: 768px) {
    .cncel_x{
        font-size: 35px !important;
        left: 8% !important;
    }
    .more_items_objects{
        width: 70%;
    }
    .more_items_icons_area{
        gap: 3.5rem;
        margin: 3rem 0rem;
    }
    .icons_resp_names{
        gap: 5.2rem;
        padding: 0.5rem 0.9rem;
    }
    .icons_resp_names > p{
        font-size: 1.2rem;
    }
    .save_icon{
        font-size: 2.1rem !important;
        margin-left: 2rem !important;
    }
    .save_iconz1{
        font-size: 1.9rem !important;
        margin-left: 2.3rem !important;
    }
    .save_iconz2{
        font-size: 1.9rem !important;
        margin-left: 2rem !important;
    }
    .save_iconz3{
        font-size: 1.9rem !important;
        margin-left: 2.8rem !important;
    }
    .save_iconz4{
        font-size: 1.9rem !important;
        margin-left: 4rem !important;
    }
    .save_iconz5{
        font-size: 1.9rem !important;
        margin-left: 3.4rem !important;
    }
    .icons_resp_names_logout{
        gap: 5.2rem;
    }
    .icons_resp_names_logout > p{
        font-size: 1.2rem;

    }
    .savings_type_select{
        margin-top: -2.9rem;
        margin-left: 2.7rem;
        width: 72%;
    }
    .savings_type_select > select{
        height: 1.5rem;
        font-size: 0.8rem;
    }
 
}
@media screen and (min-width: 770px) and (max-width: 1024px) {
    .cncel_x{
        font-size: 38px !important;
        left: 9% !important;
    }
    .more_items_objects{
        width: 55%;
    }
    .more_items_icons_area{
        gap: 3.5rem;
        margin: 3rem 0rem;
    }
    .icons_resp_names{
        gap: 5.2rem;
        padding: 0.5rem 0.9rem;
    }
    .icons_resp_names > p{
        font-size: 1.2rem;
    }
    .save_icon{
        font-size: 2.1rem !important;
        margin-left: 2rem !important;
    }
    .save_iconz1{
        font-size: 1.9rem !important;
        margin-left: 2.3rem !important;
    }
    .save_iconz2{
        font-size: 1.9rem !important;
        margin-left: 2rem !important;
    }
    .save_iconz3{
        font-size: 1.9rem !important;
        margin-left: 2.8rem !important;
    }
    .save_iconz4{
        font-size: 1.9rem !important;
        margin-left: 4rem !important;
    }
    .save_iconz5{
        font-size: 1.9rem !important;
        margin-left: 3.4rem !important;
    }
    .icons_resp_names_logout{
        gap: 5.2rem;
    }
    .icons_resp_names_logout > p{
        font-size: 1.2rem;

    }
    .savings_type_select{
        margin-top: -2.9rem;
        margin-left: 2.7rem;
        width: 68%;
    }
    .savings_type_select > select{
        height: 1.5rem;
        font-size: 0.8rem;
    }
 
}
@media screen and (min-width: 1000px) and (max-height: 720px) {
    .cncel_x{
        font-size: 38px !important;
        left: 10% !important;
    }
    .more_items_objects{
        width: 50%;
    }
    .more_items_icons_area{
        gap: 1.1rem;
        margin: 1rem 0rem;
    }
    .icons_resp_names{
        gap: 5.2rem;
        padding: 0.5rem 0.9rem;
    }
    .icons_resp_names > p{
        font-size: 1.2rem;
    }
    .save_icon{
        font-size: 2.1rem !important;
        margin-left: 2rem !important;
    }
    .save_iconz1{
        font-size: 1.9rem !important;
        margin-left: 2.3rem !important;
    }
    .save_iconz2{
        font-size: 1.9rem !important;
        margin-left: 2rem !important;
    }
    .save_iconz3{
        font-size: 1.9rem !important;
        margin-left: 2.8rem !important;
    }
    .save_iconz4{
        font-size: 1.9rem !important;
        margin-left: 4rem !important;
    }
    .save_iconz5{
        font-size: 1.9rem !important;
        margin-left: 3.4rem !important;
    }
    .icons_resp_names_logout{
        gap: 5.2rem;
    }
    .icons_resp_names_logout > p{
        font-size: 1.2rem;

    }
    .savings_type_select{
        margin-top: -1.7rem;
        margin-left: 2.9rem;
        width: 72%;
    }
    .savings_type_select > select{
        height: 1.5rem;
        font-size: 0.7rem;
    }
 
}