.Navbar{
    width: 100%;
    height: 7rem;
    position: relative;
    z-index: 9999;
    background: rgb(8, 116, 116);
}
.navbar_container{
    padding: 0px 2rem;
}
.nabvar_objects{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logoutAndPhone_container{
    display: flex;
    align-items: center;
    gap: 3rem;
    position: relative;
    margin-right: 5rem;
}
.avatar_img{
    width: 4.6rem;
    height: 4.6rem;
    cursor: pointer;
    object-fit: cover;
    margin: 0.9rem 8.5rem;
    border-radius: 50%;
}
.phonenumber_input{
    font-size: 21px;
    color: white;
    letter-spacing: 1px;
    font-weight: 500;
}
.logout_button{
    width: 7rem;
    height: 2.8rem;
    cursor: pointer;
    color: white;
    background: crimson;
    font-size: 17px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
.logoutAndPhone_container > span{
    font-size: 18px;
    color: black;
    margin-right: -2rem;
    letter-spacing: 1px;
}
.logout_button:active{
    background-color: lightblue;
    color: teal;
    transition: 0.2s ease-in-out;
}
.prof_pic{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    left: 0;
}
.iconss{
    color: gold;
    font-size: 3rem !important;
    cursor: pointer;
}
.notifications{
    position: relative;
}
.number_span{
    position: absolute;
    right: -0.5rem;
    top: 0rem;
    cursor: pointer;
    font-size: 2rem;
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
    padding: 5px;
    color: white;
}

@media screen and (max-width: 768px) {
    .logoutAndPhone_container{
        padding: 2rem 2rem;
        gap: 1.5rem;
        justify-content: space-between;
    }
    .icons{
        display: none !important;
    }
    .navbar_container{
        padding: 0px 2.2rem ;
    }
    .Navbar{
        height: 5rem;
    }
    .avatar_img{
        display: none;
    }
    .phonenumber_input{
        font-size: 15px;
        font-weight: 450;
    }
    .logout_button{
        width: 4.4rem;
        opacity: 1.5;
        height: 2rem;
        font-size: 11px;
    }
    .logoutAndPhone_container > span{
        margin-right: -1.5rem;
        font-size: 16px;
    }
   
    
}
@media screen  and (max-width: 992px) and (min-width: 768px) {
    .logoutAndPhone_container{
        padding: 2rem 2rem;
        gap:1.5rem;
        justify-content: space-between;
    }
    .icons{
        font-size: 29px !important;
    }
    .navbar_container{
        padding: 0px 2.2rem ;
    }
    .Navbar{
        height: 5rem;
    }
    .avatar_img{
        width: 2.8rem;
        height: 2.8rem;
        margin: 0;
    }
    .phonenumber_input{
        font-size: 15px;
        font-weight: 450;
    }
    .logout_button{
        width: 4.4rem;
        opacity: 1.5;
        height: 2rem;
        font-size: 11px;
    }
    .logoutAndPhone_container > span{
        margin-right: -1.5rem;
        font-size: 16px;
    }

}
