.NotificationHistorys{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.NotificationHistory{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0,0.88);
    position: relative;
}
.NotificationHistory_container{
    width: 35%;
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 99999999999999999;
    top: 0;
    background-color: rgba(255, 255, 255,0.7);
    
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 1.8rem;
    padding: 0rem 1rem;
}
.search_notification{
    width: 36%;
    height: 2rem;
    border: 0;
    outline: 0;
    border-radius: 0.3rem;
    font-size: 1.2rem;
    padding-left: 4rem;
}
.NotificationHistory_container_header{
    font-size: 2.2rem;
    font-weight: 550;
    margin: 1rem 1.5rem;
    color: crimson;
    opacity: 0.88;
}
.NotificationHistory_container_printable{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    padding: 2rem 4rem;
    margin: 7.5rem 1rem;
    border-bottom: 0.5px solid rgba(128, 128, 128,0.2);
}
.history{
    display: flex;
    align-items: center;
    gap: 10rem;
}
.history > p{
    font-size: 1.3rem;
    font-weight: 450;
    color: gray;
}
.reactPaginate{
    width: 100%;
    padding: 1rem 0.5rem;
    margin-top: -6rem;

}
.pagination{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 2.4rem;
    font-size: 1.8rem;
    list-style: none;
    margin: 1rem 3rem;

}
.page-num{
    color: gray;
    cursor: pointer;
    opacity: 0.89;
}
.page-nums{
    color: orangered;
    font-size: 1.9rem;
    opacity: 0.7;
    cursor: pointer;

}
.breakClassName{
    color: gray;
    font-size: 2.2rem;
}
.activee-boxx{
    background-color: rgba(0, 128, 128,0.7);
    padding: 2px 9px;
    border-radius: 2px;
}
.react_to_print{
    position: absolute;
    z-index: 9999999999;
    bottom: 18rem;
    display: flex;
    align-items: center;
    left: 1.5rem;
    gap: 1rem;
    cursor: pointer;
}
.react_to_print >p{
    color: blue;
    font-size: 2.3rem;

}
.react_to_prints{
    position: absolute;
    z-index: 9999999999;
    bottom: 14rem;
    display: flex;
    align-items: center;
    left: 1.5rem;
    gap: 1rem;
    cursor: pointer;
}
.react_to_prints> p{
    color: blue;
    font-size: 2.3rem;
}
.react_to_print> p:hover{
    color: orangered;
    opacity: 0.88;
}
.react_to_prints> p:hover{
    color: orangered;
    opacity: 0.88;
}
.print{
    font-size: 2.5rem !important;
    color: gray;
}

.itemamount{
    margin-left: 1rem;
}
.itemtransact{
    margin-left: -3.3rem;
}
.itemtype{
    margin-left: 1.3rem;
}
.itemname{
    margin-left: 2.7rem;
}
.itememail{
    margin-left: 2rem;
    font-size: 1rem;
}
.itemtime{
    margin-left: 2rem;
}
.itemusername{
    margin-left: 2rem;
}
.itemphonenumber{
    margin-left: 2rem;
}

@media screen and (max-width: 420px) {
    .NotificationHistory_container{
       width: 80%;
       /* right: 0rem; */
       margin-right: 0;
    }
    .search{
        margin-right: 0px !important;
    }
    .NotificationHistory_container_header{
        display: none;
    }
    .search_notification{
    width: 80%;
    height: 3rem;
    font-size: 1.2rem;
    margin-right: 1.6rem;
    padding-left: 3rem;
}
.NotificationHistory_container_printable{
    margin: 3rem 0.5rem;
    gap: 1rem;
    padding: 0.9rem 0.2rem;
}
.history{
    gap: 4rem;
}
.history > p{
    font-size: 0.85rem;
}
.hitory_name{
    font-size: 1.1rem;
    margin-left: 0.3rem;
}
.reactPaginate{
    margin-top: -3rem;
}
.pagination{
    gap: 1.5rem;
    font-size: 1.3rem;
    margin: 1rem 2.5rem;
}
.page-nums{
    font-size: 1.1rem;
}
.breakClassName{
    font-size: 1.4rem;
}
.activee-boxx{
    padding: 1.7px 6px;
}
.react_to_print{
    bottom: 12rem;
}
.react_to_print >p{
    font-size: 1.2rem;
}
.react_to_prints{
    bottom: 7rem;
}
.react_to_prints >p{
    font-size: 1.1rem;
}
.print{
    font-size: 1.5rem !important;
}
.itemtransact{
    margin-left: -2.3rem;
}
}