.profile{
    width: 100%;
    height: 100vh;
    object-fit: cover; 
    background-image: url("../../public/images/login.jpg");
    background-position: center;
    position: relative;
    background-size: cover;
    filter: contrast(80%) saturate(60%) blur(15%);
    background-repeat: no-repeat;
}
.spiner_loading{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999999;
}
.profile_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    align-items: center;

}
.EEdit_input_container{
    width: 40%;
    display: flex;
    margin-top: 8rem;
    gap: 2rem;
    flex-direction: column;
}
.EEdit_input_container > label{
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    color: white;
    opacity: 0.8;
}
.EEdit_input_container > input{
    height: 3.9rem;
    border-radius: 3px;
    font-size: 1.3rem;
    caret-color: blue;
    color: teal;
    padding: 0px 1.2rem;
}
.EEdit_input_container > button{
    background-color: teal;
    align-items: center;
    color: white;
    opacity: 0.7;
    height: 4.4rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    cursor: pointer;
}
.EEdit_input_container > button:hover{
    background-color: white;
    color: teal;
    transition: all 0.3s ease-in-out;
    transition-delay: 0.45s;
    transition-duration: 0.8s;

}
@media screen and (max-width: 420px) {
    .EEdit_input_container{
        width: 80%;
        margin-top: 2rem;
        gap: 1.2rem;
    }
    .EEdit_input_container > label{
        font-size: 1rem;
        letter-spacing: 1px;
    }
    .EEdit_input_container > input{
        height: 3.3rem;
        width: 90%;
        font-size: 0.9rem;
    }
    .EEdit_input_container > button{
        height: 3.5rem;
        font-size: 1.3rem;
    }
}