.transaction_body_container{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    position: relative;
    background-color: rgba(0, 0, 0,0.1);  
}
.transaction{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    position: relative;
    background-color: rgba(0, 0, 0,0.1);
}
.choose_pay{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 99999999;
}
.transaction_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.transaction_text{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 11rem;
    margin-top: 2rem;
}
.transaction_text > p{
    font-size: 23px;
    color: gray;
    font-weight: 450;
    letter-spacing: 0.9px;
}
.transaction_text > h1{
    font-size: 29px;
    font-weight: 650;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1.3px;

}
.transaction_page{
    height: 17rem;
    background-color: rgba(240, 76, 16,0.12);
    box-shadow: 0px 4px 8px -2px rgba(0,0,0,0.56);
-webkit-box-shadow: 0px 4px 8px -2px rgba(0,0,0,0.56);
-moz-box-shadow: 0px 4px 8px -2px rgba(0,0,0,0.56);
    padding: 2rem;
    border-radius: 15px;
    margin: 19px 50px;
    position: relative;
}
.transaction_balance{
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
    gap: 8rem;
   
}
.transcation_wallet{
    display: flex;
    flex-direction: column;
    gap: 13px;
    margin-left: 6rem;
    margin-top: 2rem;
}
.transcation_wallet > p{
    font-size: 25px;
    letter-spacing: 1.8px;
    color: teal;
}
.transcation_wallet > h1{
    font-size: 36px;
    letter-spacing: 2px;
    font-weight: 690;
    margin-top: 1rem;
}
.country_flag{
    position: absolute;
    right: 11rem;
    top: 0.7rem;

}
.flags{
    width: 7rem;
    height: 7rem;
    border-radius: 100%;
    /* object-fit: cover; */
}
.transaction_payments{
    position: absolute;
    width: 100%;
    height: 4rem;
    top: 9rem;
    left: 22rem;
}
.send_receive_button{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.open_savings_modal{
    position: absolute;
    height: fit-content;
    top: 0;
    left: 0;
    right: 0;
    z-index: 988888898099999999999;
    bottom: 0;
}
.center_button{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    gap: 0.3rem;
}
.center_button:hover{
    transition: all 0.1s ease-in-out;
    transform: scale(1.1);
    transition-delay: 0.1s;
    transition-duration: 0.7s;
    transition-timing-function: linear;
}
.center_button > p{
    font-size: 1.3rem;
    margin-top: 1rem;
    letter-spacing: 1.3px;
    font-weight: 600;
    color: teal;
    text-transform: capitalize;

}
.Quick_send{
    width: 100%;
    margin: 3rem 10rem;
    cursor: pointer;
}
.Quick_sendContainer{
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.Quick_sendContainer > h1{
    font-size: 23px;
    font-weight: 650;
    letter-spacing: 2px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: teal;
}
.transaction_avatars{
    display: flex;
    align-items: center;
    margin: 2rem 2rem;
    gap: 2rem;
    width: 100%;

}
.rounded_borders{
    border: 3px dotted orange;
    background-color: rgba(180, 71, 31,0.2);
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    animation-name: bounce;
    animation-timing-function: linear;
    animation-play-state: running;
    animation-delay: 0s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    position: relative;
}
@keyframes bounce {
    0%{
        transform: translateZ(-100vw);
        opacity: 0;
        transition: all 0.2s ease-in;
    }
    50%{
        transform: translateX(0);
        background-color: rgba(255, 255, 255,0.3);
        opacity: 0.5;
        transition: all 0.2s ease-out;

    }
    100%{
        transform: translateY(0);
        background-color: rgba(255, 255, 255,0.3);
        opacity: 0;
        transition: all 0.2s ease-in-out;

    }
}
.avatar_datails{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.4rem;
}
.avatar_datails > p{
    font-size: 17px;
    font-weight: 450;
    letter-spacing: 1.5px;
    color: gray;
}
.avatar_datails > img{
    width: 6rem;
    height: 6rem;
    object-fit: cover;
    border-radius: 50%;
    margin: 0px 2.5rem;

}
.avatar_datails > img:hover{
    transform: scale(1.2);
    transition: all 0.1s ease-in-out;
    transition-delay: 0.2s;
    transition-duration: 0.7s;
}
.img_avatar{
    margin-left: 12rem;
    display: flex;
    align-items: center;
    gap: 3rem;
}
.iconssz{
    margin-top: -0.5rem;
    font-size: 2.5rem !important;
}
.name_date{
    display: flex;
    width: 100%;
    margin-left: 16rem;
    flex-direction: column;
    color: #fff;
    opacity: 0.8;
    font-size: 25px;
    letter-spacing: 1.5px;
    gap: 1.1rem;
}
.sent{
    color: red;
    font-size: 18px;
    letter-spacing: 1.4px;
    font-weight: 550;
}
.received{
    color: green;
    font-size: 18px;
    letter-spacing: 1.4px;
    font-weight: 550;
}
.add{
     left: 36px;
     top: 49px;
}
@media screen  and (max-width: 420px){
    .transaction_container{
        gap: 5px;
    }
    .transaction_text{
        margin-left: 5.7rem;
    }
    .transaction_text > p{
        font-size: 0.9rem;
        letter-spacing: 0.6px;
    }
    .transaction_text > h1{
        font-size: 1.3rem;
        letter-spacing: 1px;
    }
    .transaction_page{
        padding: 1rem;
    }
    .transaction_balance{
        gap: 3rem;
    }
    .transcation_wallet{
        margin-left: 0.7rem;
        gap: 0.5rem;
        margin-top: 0.7rem;
    }
    .transcation_wallet > p{
        font-size: 0.9rem;
        letter-spacing: 1px;
    }
    .transcation_wallet > h1{
        font-size: 1rem;
    }
    .country_flag{
        right: 0.3rem;
        top: 0.1rem;
    }
    .flags{
        width: 2rem;
        height: 2rem;
    }
    .transaction_payments{
        height: 2.5rem;
        top: 11rem;
        left: 1rem;
    }
    .send_receive_button{
        width: 85%
    }
    .center_button > p{
        font-size: 0.75rem;
        margin-top: 0.4rem;
        letter-spacing: 0;
        opacity: 0.8;
        margin-left: 0.35rem;
    }
    .iconss{
        font-size: 1.2rem !important;
    }
    .iconssz{
        margin-top: -2rem !important;
        font-size: 1.2rem !important;
    }
    .Quick_send{
        margin: 2rem 1rem;
    }
    .Quick_sendContainer{
        padding: 1rem;
    }
    .Quick_sendContainer > h1{
        font-size: 0.9rem;
    }
    .transaction_avatars{
        gap: 1rem;
        margin: 0;
    }
    .rounded_borders{
        border: 0;
        width: 4rem;
        height: 4rem;
    }
    .avatar_datails{
        gap: 0.7rem;
    }
    .avatar_datails > p{
        font-size: 0.9rem;
        letter-spacing: 0.7px;
        margin-top: -0.4rem;
    }
    .avatar_datails > img{
        width: 3rem;
        height: 3rem;
        margin: 2rem 1rem;
    }
    .send_now{
        display: none;
    }
    .img_avatar{
        margin-left: 1.7rem;
        gap: 1rem;
    }
    .rounded_borders{
        display: none;
    }
   
}
@media screen and (max-height: 725px)  and (max-width: 420px){
    .transaction_container{
        gap: 2px;
    }
    .transaction_text{
        margin-left: 5.2rem !important;
        margin-top: 0.8rem !important;
    }
    .transaction_text > p{
        font-size: 0.8rem;
        letter-spacing: 0.6px;
    }
    .transaction_text > h1{
        font-size: 0.95rem;
        letter-spacing: 1px;
    }
    .transaction_page{
        padding: 0.2rem;
        height: 10rem;
    }
    .transaction_balance{
        gap: 1rem !important;
    }
    .transcation_wallet{
        margin-left: 0.7rem;
        gap: 0.12rem;
        margin-top: 0.7rem;
    }
    .transcation_wallet > p{
        font-size: 0.7rem;
        letter-spacing: 0.7px;
    }
    .transcation_wallet > h1{
        font-size: 0.7rem;
    }
    .country_flag{
        right: 0.6rem;
        top: 0.4rem;
    }
    .flags{
        width: 1.3rem;
        height: 1.4rem;
    }
    .transaction_payments{
        height: 2.5rem;
        top: 6rem;
        left: 0.8rem;
    }
    .send_receive_button{
        width: 85%
    }
    .center_button > p{
        font-size: 0.65rem;
        margin-top: 0.4rem;
        letter-spacing: 0;
        opacity: 0.8;
        margin-left: 0.35rem;
    }
    .iconss{
        font-size: 0.85rem !important;
    }
    .iconssz{
        margin-top: -2rem !important;
        font-size: 0.85rem !important;
    }
    .Quick_send{
        margin: 0.2rem 0.65rem;
    }
    .Quick_sendContainer{
        padding: 1rem;
    }
    .Quick_sendContainer > h1{
        font-size: 0.8rem;
        margin-left: 1.65rem;
    }
    .transaction_avatars{
        gap: 0.7rem;
        margin: 0;
    }
    .rounded_borders{
        border: 0;
        width: 4rem;
        height: 4rem;
    }
    .avatar_datails{
        gap: 0.rem;
    }
    .avatar_datails > p{
        font-size: 0.9rem;
        letter-spacing: 0.7px;
        margin-top: -0.4rem;
    }
    .avatar_datails > img{
        width: 2.7rem;
        height: 2.7rem;
        margin: 2rem 0.5rem;
    }
    .send_now{
        display: none;
    }
    .img_avatar{
        margin-left: 1.7rem;
        gap: 1.5rem;
    }
    .rounded_borders{
        display: none;
    }
   
}
@media screen and (min-width: 450px) and (max-width: 768px) {
    .transaction_container{
        gap: 10px;
    }
    .transaction_text{
        margin-left: 5.7rem;
    }
    .transaction_text > p{
        font-size: 1.2rem;
        letter-spacing: 0.8px;
    }
    .transaction_text > h1{
        font-size: 1.6rem;
        letter-spacing: 1.1px;
    }
    .transaction_page{
        padding: 1.3rem;
    }
    .transaction_balance{
        gap: 3.4rem;
    }
    .transcation_wallet{
        margin-left: 1rem;
        gap: 1rem;
        margin-top: 0.7rem;
    }
    .transcation_wallet > p{
        font-size: 1.2rem;
        letter-spacing: 1px;
    }
    .transcation_wallet > h1{
        font-size: 1.4rem;
    }
    .country_flag{
        right: 1rem;
        top: 0.7rem;
    }
    .flags{
        width: 2.4rem;
        height: 2.4rem;
    }
    .transaction_payments{
        height: 2.5rem;
        top: 11rem;
        left: 1.7rem;
    }
    .send_receive_button{
        width: 85%
    }
    .center_button > p{
        font-size: 1.2rem;
        margin-top: 0.4rem;
        letter-spacing: 0;
        opacity: 0.8;
        margin-left: 0.35rem;
    }
    .iconss{
        font-size: 1.6rem !important;
    }
    .iconssz{
        margin-top: -2rem !important;
        font-size: 1.6rem !important;
    }
    .Quick_send{
        margin: 2.3rem 2.6rem;
    }
    .Quick_sendContainer{
        padding: 1.2rem;
    }
    .Quick_sendContainer > h1{
        font-size: 1.1rem;
    }
    .transaction_avatars{
        gap: 1.2rem;
        margin: 0;
    }
    .rounded_borders{
        border: 0;
        width: 4rem;
        height: 4rem;
    }
    .avatar_datails{
        gap: 0.7rem;
    }
    .avatar_datails > p{
        font-size: 1.1rem;
        letter-spacing: 0.7px;
        margin-top: -0.4rem;
    }
    .avatar_datails > img{
        width: 3rem;
        height: 3rem;
        margin: 2rem 1rem;
    }
    .send_now{
        display: none;
    }
    .img_avatar{
        margin-left: 1.7rem;
        gap: 1rem;
    }
    .rounded_borders{
        display: block;
        width: 6rem;
        height: 6rem;
    }
    .add{
        left: 16.5px;
        top: 32px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .transaction_container{
        gap: 10px;
    }
    .transaction_text{
        margin-left: 5.7rem;
    }
    .transaction_text > p{
        font-size: 1.2rem;
        letter-spacing: 0.8px;
    }
    .transaction_text > h1{
        font-size: 1.6rem;
        letter-spacing: 1.1px;
    }
    .transaction_page{
        padding: 1.3rem;
    }
    .transaction_balance{
        gap: 3.4rem;
    }
    .transcation_wallet{
        margin-left: 1rem;
        gap: 1rem;
        margin-top: 0.7rem;
    }
    .transcation_wallet > p{
        font-size: 1.2rem;
        letter-spacing: 1px;
    }
    .transcation_wallet > h1{
        font-size: 1.4rem;
    }
    .country_flag{
        right: 1rem;
        top: 0.7rem;
    }
    .flags{
        width: 2.4rem;
        height: 2.4rem;
    }
    .transaction_payments{
        height: 2.5rem;
        top: 11rem;
        left: 1.7rem;
    }
    .send_receive_button{
        width: 85%
    }
    .center_button > p{
        font-size: 1.2rem;
        margin-top: 0.4rem;
        letter-spacing: 0;
        opacity: 0.8;
        margin-left: 0.35rem;
    }
    .iconss{
        font-size: 1.6rem !important;
    }
    .iconssz{
        margin-top: -2rem !important;
        font-size: 1.6rem !important;
    }
    .Quick_send{
        margin: 0.3rem 3.6rem;
    }
    .Quick_sendContainer{
        padding: 1.2rem;
    }
    .Quick_sendContainer > h1{
        font-size: 1.1rem;
    }
    .transaction_avatars{
        gap: 1.2rem;
        margin: 0;
    }
    .rounded_borders{
        border: 0;
        width: 4rem;
        height: 4rem;
    }
    .avatar_datails{
        gap: 0.7rem;
    }
    .avatar_datails > p{
        font-size: 1.1rem;
        letter-spacing: 0.7px;
        margin-top: -1rem;
    }
    .avatar_datails > img{
        width: 3rem;
        height: 3rem;
        margin: 0.7rem 3.5rem;
    }
    .send_now{
        display: none;
    }
    .img_avatar{
        margin-left: 1.7rem;
        gap: 1rem;
    }
    .rounded_borders{
        display: block;
        width: 6rem;
        height: 6rem;
    }
    .add{
        left: 16.5px;
        top: 32px;
    }
}
@media screen and (min-width: 1000px) and (max-height: 720px) {
    .transaction_container{
        gap: 5px;
    }
    .transaction_text{
        margin-left: 5.7rem;
    }
    .transaction_text > p{
        font-size: 1.2rem;
        letter-spacing: 0.8px;
    }
    .transaction_text > h1{
        font-size: 1.6rem;
        letter-spacing: 1.1px;
    }
    .transaction_page{
        padding: 1.3rem;
        height: 11rem;
    }
    .transaction_balance{
        gap: 3.4rem;
    }
    .transcation_wallet{
        margin-left: 1rem;
        gap: 0.4rem;
        margin-top: 0.7rem;
    }
    .transcation_wallet > p{
        font-size: 1.1rem;
        letter-spacing: 1px;
    }
    .transcation_wallet > h1{
        font-size: 1.3rem;
    }
    .country_flag{
        right: 1rem;
        top: 0.7rem;
    }
    .flags{
        width: 2.4rem;
        height: 2.4rem;
    }
    .transaction_payments{
        height: 2.5rem;
        top: 7.5rem;
        left: 1.7rem;
    }
    .send_receive_button{
        width: 85%
    }
    .center_button > p{
        font-size: 1.1rem;
        margin-top: 0.4rem;
        letter-spacing: 0;
        opacity: 0.8;
        margin-left: 0.35rem;
    }
    .iconss{
        font-size: 1.4rem !important;
    }
    .iconssz{
        margin-top: -2rem !important;
        font-size: 1.4rem !important;
    }
    .Quick_send{
        margin: 0.1rem 3.6rem;
    }
    .Quick_sendContainer{
        padding: 0.6rem;
    }
    .Quick_sendContainer > h1{
        font-size: 1.1rem;
    }
    .transaction_avatars{
        gap: 1rem;
        margin: 0;
    }
    .rounded_borders{
        border: 0;
        width: 4rem;
        height: 4rem;
    }
    .avatar_datails{
        gap: 0.2rem;
    }
    .avatar_datails > p{
        font-size: 1.1rem;
        letter-spacing: 0.7px;
        margin-top: -1rem;
        display: none;
    }
    .avatar_datails > img{
        width: 3rem;
        height: 3rem;
        margin: 0.1rem 3.5rem;
    }
    .send_now{
        display: none;
    }
    .img_avatar{
        margin-left: 1.7rem;
        gap: 1rem;
    }
    .rounded_borders{
        display: block;
        width: 6rem;
        height: 6rem;
    }
    .add{
        left: 16.5px;
        top: 32px;
    }
}