.confirmation_header{
    width: 100%;
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
    height: 100vh;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.spiner_loading{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999999;
}
.confirmation_object{
    width: 60%;
    height: 55%;
    padding: 3rem;
    top: 14%;
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    position: absolute;
    left: 18%;
    box-shadow: 1px 4px 10px 0px rgba(0,0,0,0.45);
-webkit-box-shadow: 1px 4px 10px 0px rgba(0,0,0,0.45);
-moz-box-shadow: 1px 4px 10px 0px rgba(0,0,0,0.45);
    text-align: center;
}
.confirmation_object_container{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    position: relative;
}
.upper_confirmation_block{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    position: relative;
}
.done_svg{
    width: 7%;
    height: 7%;
    border-radius: 50%;
    margin-left: 39%;
    object-fit: cover;
}
.payment_sucss{
    font-size: 2.5rem;
    letter-spacing: 1.2px;
    padding-top: 1.5rem;
    text-transform: uppercase;
    opacity: 0.7;
    margin-left: -10%;
    font-weight: 400;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.transaction_number{
    display: flex;
    width: 100%;
    align-items: center;
    gap: 20rem;
    margin: 2.9rem 12rem;
}
.transaction_number > p{
    font-size: 1.8rem;
    color: teal;

}
.transaction_number > span{
    font-size: 1.9rem;
    color: gray;
}
.lower_confirmation_block{
    display: flex;
    flex-direction: column;
 
}
.payment_block{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    width: 100%;
    margin: 2.9rem 12rem;
}
.bank_detail_block{
    display: flex;
    width: 100%;
    align-items: flex-end;
    gap: 22rem;
}
.bankz_type{
    margin-left: 10%;
    color: gray;
}
.transaction_amount{
    /* margin-left: 1rem; */
    color: green;
    opacity: 0.7;
    font-size: 1.5rem;
}
.transaction_email{
    margin-left: 6.4rem !important;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 1.4px;
    color: crimson;
    opacity: 0.7;
    font-size: 1.5rem;
}
.bankz_type{
    margin-left: 7rem !important;
}
.bank_detail_block > h1{
    color: crimson;
    font-size: 1.5rem;
    opacity: 0.7;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.continue_button{
    width: 20%;
    height: 3.2rem;
    background-image: linear-gradient(to top, #88d3ce 0%, #6e45e2 100%);
    font-size: 1.5rem;
    margin-top: 1rem ;
    margin-left: 39em;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    color: whitesmoke;
    border-radius: 20px;
}
@media screen and (max-width: 420px) {
    .confirmation_object{
        width: 80% !important;
        height: 40% !important;
        left: 2% !important;
        padding: 2rem !important;
    }
    .confirmation_object_container{
        gap: 0.3rem !important;
    }
    .upper_confirmation_block{
        gap: 0.2rem !important;
    }
    .done_svg{
        width: 12% !important;
        height: 12% !important;
    }
    .payment_sucss{
        font-size: 1.3rem !important;
        letter-spacing: 0.2px !important;
        margin-left: -2% !important;
    }
    .transaction_number{
        margin: 0.7rem 1.5rem !important;
        gap: 2rem !important;
        width: 100% !important;
    }
    .transaction_number > p{
        font-size: 1rem !important;
    }
    .transaction_number > span{
        font-size: 1rem !important;
    }
    .payment_block{
        margin: 0.7rem 1.5rem !important;
        gap: 2rem !important;
        width: 100% !important;
    }
    .bank_detail_block{
        gap: 2rem !important;
    }
    .bank_detail_block > h1{
        font-size: 1rem !important;
    }
    .transaction_amount{
        font-size: 0.95rem !important;
    }
    .transaction_email{
        font-size: 0.95rem !important;
        margin-left: 3rem !important;
    }
    .bankz_type{
        font-size: 0.95rem !important;
        margin-left: 4rem !important;
    }
    .continue_button{
        width: 100% !important;
        height: 3.5rem !important;
        margin-left: 0rem !important;
        margin-top: 9rem !important;
    }

}
@media screen and (max-height: 720px) and (min-width: 420px) {
    .confirmation_object{
        width: 80% !important;
        height: 40% !important;
        left: 3% !important;
        padding: 2rem !important;
    }
    .confirmation_object_container{
        gap: 0.3rem !important;
    }
    .upper_confirmation_block{
        gap: 0.2rem !important;
    }
    .done_svg{
        width: 12% !important;
        height: 12% !important;
    }
    .payment_sucss{
        font-size: 1.3rem !important;
        letter-spacing: 0.2px !important;
        margin-left: -2% !important;
    }
    .transaction_number{
        margin: 0.7rem 1.5rem !important;
        gap: 2rem !important;
        width: 100% !important;
    }
    .transaction_number > p{
        font-size: 1rem !important;
    }
    .transaction_number > span{
        font-size: 1rem !important;
    }
    .payment_block{
        margin: 0.7rem 1.5rem !important;
        gap: 2rem !important;
        width: 100% !important;
    }
    .bank_detail_block{
        gap: 2rem !important;
    }
    .bank_detail_block > h1{
        font-size: 1rem !important;
    }
    .transaction_amount{
        font-size: 0.95rem !important;
    }
    .transaction_email{
        font-size: 0.95rem !important;
        margin-left: 3rem !important;
    }
    .bankz_type{
        font-size: 0.95rem !important;
        margin-left: 4rem !important;
    }
    .continue_button{
        width: 100% !important;
        height: 3.5rem !important;
        margin-left: 0rem !important;
        margin-top: 9rem !important;
    }

}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .confirmation_object{
        width: 80% !important;
        height: 40% !important;
        left: 6% !important;
        padding: 2rem !important;
    }
    .confirmation_object_container{
        gap: 0.3rem !important;
    }
    .upper_confirmation_block{
        gap: 0.2rem !important;
    }
    .done_svg{
        width: 9% !important;
        height: 9% !important;
    }
    .payment_sucss{
        font-size: 1.4rem !important;
        letter-spacing: 0.2px !important;
        margin-left: -3% !important;
    }
    .transaction_number{
        margin: 1rem 10.5rem !important;
        gap: 4rem !important;
        width: 100% !important;
    }
    .transaction_number > p{
        font-size: 1.4rem !important;
    }
    .transaction_number > span{
        font-size: 1.2rem !important;
    }
    .payment_block{
        margin: 0.9rem 10.5rem !important;
        gap: 3rem !important;
        width: 100% !important;
    }
    .bank_detail_block{
        gap: 4rem !important;
    }
    .bank_detail_block > h1{
        font-size: 1.3rem !important;
    }
    .transaction_amount{
        font-size: 1.1rem !important;
    }
    .transaction_email{
        font-size: 01.1rem !important;
        margin-left: 4.5rem !important;
    }
    .bankz_type{
        font-size: 1.1rem !important;
        margin-left: 4rem !important;
    }
    .continue_button{
        width: 100% !important;
        height: 4rem !important;
        margin-left: 0rem !important;
        margin-top: 11rem !important;
    }

}
@media screen and (min-width: 1024px) and (max-width: 2048px) {
    .confirmation_object{
        width: 80% !important;
        height: 40% !important;
        left: 8% !important;
        padding: 2rem !important;
        top: 18% !important;
    }
    .confirmation_object_container{
        gap: 0.3rem !important;
    }
    .upper_confirmation_block{
        gap: 0.2rem !important;
    }
    .done_svg{
        width: 4% !important;
        height: 4% !important;
    }
    .payment_sucss{
        font-size: 1.4rem !important;
        letter-spacing: 0.2px !important;
        margin-left: -21% !important;
    }
    .transaction_number{
        margin: 1rem 17rem !important;
        gap: 4rem !important;
        width: 100% !important;
    }
    .transaction_number > p{
        font-size: 1.4rem !important;
    }
    .transaction_number > span{
        font-size: 1.2rem !important;
    }
    .payment_block{
        margin: 0.9rem 17rem !important;
        gap: 2rem !important;
        width: 100% !important;
    }
    .bank_detail_block{
        gap: 4rem !important;
    }
    .bank_detail_block > h1{
        font-size: 1.3rem !important;
    }
    .transaction_amount{
        font-size: 1.1rem !important;
    }
    .transaction_email{
        font-size: 01.1rem !important;
        margin-left: 4.5rem !important;
    }
    .bankz_type{
        font-size: 1.1rem !important;
        margin-left: 4rem !important;
    }
    .continue_button{
        width: 100% !important;
        height: 3.5rem !important;
        margin-left: 0rem !important;
        margin-top: 4rem !important;
    }

}
@media screen and (min-width: 1000px) and (max-height: 720px) {
    .confirmation_object{
        width: 80% !important;
        height: 35% !important;
        left: 8% !important;
        padding: 2rem !important;
        top: 17% !important;
    }
    .confirmation_object_container{
        gap: 0.3rem !important;
    }
    .upper_confirmation_block{
        gap: 0.2rem !important;
    }
    .done_svg{
        width: 4% !important;
        height: 4% !important;
        margin-top: -1rem !important;
    }
    .payment_sucss{
        font-size: 1.4rem !important;
        letter-spacing: 0.2px !important;
        margin-left: -21% !important;
        display: none;
    }
    .transaction_number{
        margin: 1rem 14rem !important;
        gap: 4rem !important;
        width: 100% !important;
    }
    .transaction_number > p{
        font-size: 1.3rem !important;
    }
    .transaction_number > span{
        font-size: 1.1rem !important;
    }
    .payment_block{
        margin: 0.2rem 14rem !important;
        gap: 0.9rem !important;
        width: 100% !important;
    }
    .bank_detail_block{
        gap: 4rem !important;
    }
    .bank_detail_block > h1{
        font-size: 1.3rem !important;
    }
    .transaction_amount{
        font-size: 1.1rem !important;
    }
    .transaction_email{
        font-size: 01.1rem !important;
        margin-left: 4.5rem !important;
    }
    .bankz_type{
        font-size: 1.1rem !important;
        margin-left: 4rem !important;
    }
    .continue_button{
        width: 100% !important;
        height: 3.2rem !important;
        margin-left: 0rem !important;
        margin-top: 4.2rem !important;
    }

}